body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(32, 32, 32);
    color: #ddd
}

header,
footer {
    background-color: rgb(12, 12, 12)
}

.title,
h3 {
    color: rgb(0, 128, 128)
}

p {
    color: #ccc
}

.pane-sm {
    position: relative;
    width: 20%;
    background-color: rgb(32, 32, 32);
    color: rgb(128, 128, 128)
}

.pane {
    position: relative;
    width: auto;
    background-color: rgb(32, 32, 32);
    color: rgb(128, 128, 128)
}

.btn.disabled,
.btn:disabled {
    opacity: 0.5;
    border-color: red
}

.btn-dark {
    color: #fff;
    background-color: #373737;
    border-color: #ccc;
    margin: 20px auto;
    display: inherit;
    height: 50px;
    width: 80%;
    transition: all 0.15s;
}

.btn-dark:hover {
    background-color: #292929;
    border-color: cyan;
    text-shadow: 0 0 30px rgb(255, 255, 255);
}

.indentText {
    margin: 3px 8px;
    font-size: .9em;
    color: #ccc
}

.padded {
  overflow: hidden;
}
